*.pyc
*.npy
*.hdf5
/data/
/logs/
/unet_gscpLaser288x448-rd16.tflite
/unet_gscpLaser288x448-rd32.tflite
/unet_gscpLaser288x448-rd64.tflite
/unet_Solar512x512-rd32.tflite
/unet_Solar512x512-rd64.tflite
/gscpLaser_0.bmp
/gscpLaser_0.png
/out.png
/solar.png
/texture.png
/0.bmp
/0.png
/0_predict.png
/0_predict_combined.png
